@font-face {
  font-family: "iconfont"; /* Project id 3117895 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1641471469670') format('woff2'),
       url('iconfont.woff?t=1641471469670') format('woff'),
       url('iconfont.ttf?t=1641471469670') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.875rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-talk:before {
  content: "\e606";
}

.icon-31shouyexuanzhong:before {
  content: "\e600";
}

.icon-31shouye:before {
  content: "\e601";
}

.icon-red-like:before {
  content: "\e63d";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-icon_fabu:before {
  content: "\eb88";
}

.icon-remen:before {
  content: "\e8c9";
}

.icon-pinglun1:before {
  content: "\e618";
}

.icon-like:before {
  content: "\eb89";
}

